.app {
  background-color: #F7F7F7;
}
.app-body{
  margin-top: 50px;
}
.navbar-absolute-top{
  height: 40px;
  background-color: #fff;
  color: #FD5E7C;
  font-family: 'Raleway', sans-serif;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.16);
}
.navbar-top-home{
  height: 60px;
}
.navbar-top-personal{
  display: flex;
  justify-content: space-between;
}
.navbar-brand-center{
  margin: auto;
}
.fa-navbar {
  size: 20px;
  color: #FD5E7C;
}
.navbar-absolute-bottom {
  background-color: #fff;
}

.list-home{
  margin-left: 20px;
  margin-right: 20px;
}
.list-home h4{
  background-color:#1DD1A1;
  padding-top:10px;
  padding-bottom: 10px;
  padding-left:10px;
  margin-bottom: 0px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}
ul{
  list-style-type: none;
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.16);
}
.list-group-item li:nth-child(2n+2){
  background-color: #E8FBF5;
}



